.bg-custom-banner {
  @apply p-[20px] bg-[#f1f1f1] bg-cover bg-center bg-no-repeat;
  background-image: linear-gradient(to bottom, #000000b3, #0000004d),
    url("/static/misc/mgp-banner.png");
}

/* ::-webkit-scrollbar { */
  /* @apply hidden; */
/* } */

.bgclip {
  -webkit-clip-path: polygon(
    50% 0%,
    80% 24%,
    100% 43%,
    100% 71%,
    100% 100%,
    0 100%,
    0 83%,
    0% 43%,
    0 0
  );
  clip-path: polygon(
    50% 0%,
    90% 0,
    100% 10%,
    100% 100%,
    0 100%,
    0 83%,
    0% 43%,
    0 0
  );
  border-top-right-radius: 80% 80%;
}
